body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

ul.navbar li {
    float: left;
}

ul.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
ul.navbar li a:hover {
    background-color: #111;
}

/* Cards */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 300px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    margin-top: 60px;
}

/* Style for the card title */
.card-title {
    font-size: 24px;
    font-weight: bold;
}

/* Style for the card image */
.card-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

/* Hover effect */
.card:hover {
    background-color: #e0e0e0;
}

/* content */
.content-container {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 70px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
    max-width: 100%;
    height: auto;
}
h1 {
    font-size: 24px;
}
h2 {
    font-size: 20px;
}
p {
    font-size: 16px;
}

/* Form */

.form-group {
    margin-bottom: 20px;
}
label {
    font-weight: bold;
}
input[type="text"],
textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
}
button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}