<ul class="navbar">
    <li><a href="/api/recipes">Recipes</a></li>
    <li><a href="/api/add_recipes">Add Recipes</a></li>
    <li><a href="/api/chefs">Chefs</a></li>
    <li><a href="/api/add_chefs">Add Chefs</a></li>
</ul>