<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Recipes</title>
  <link rel="stylesheet" href="style.css" type="text/css">
</head>

<body>
  <%- include('navbar') %>

  <div class="card-container">
    <% for (const recipe of recipes) { %>
      <div class="card" onclick="window.location.href='/api/recipes/<%- recipe.id %>'">
        <div class="card-title"><%= recipe.title %></div>
        <img class="card-image" src="https://placehold.co/200" alt="Card Image">
        <p><%= recipe.description %></p>
      </div>
    <% } %>
  </div>

</body>

</html>
